.wrapper {
    background-image: url(../1.jpg);
    background-size: 100%;
}

body{
    margin: 0;
    padding: 0;
}
.block {
    display: flex;
    width: 90px;
    justify-content: center;
    border: 5px dotted;
    color: #b1b1b1;
    font-size: 18px;
    border-radius: 100%;
    font-size: 30px;
    border-color: #ffffff00;
    height: 90px;
    transition: 1s;
    align-items: center;
    text-decoration: none;
}

.block:hover{
    color: rgb(255 255 255 / 90%);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    border-color: rgb(255 255 255 / 90%);
    transition: 1s;
}

.header{
    display: flex;
    color: white;
    flex-wrap: wrap;
    width: 710px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    gap: 21.5px 0;
    height: 150px;
    font-family: "ofont.ru_Riffic";
}

.main{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 68px 40px;
    margin-top: 60px;
    padding-bottom: 49px;
}

.card{
    width: 275px;
    height: 325px;
    background: black;
    margin: 0 auto;
    margin: 0;
    color: #b1b1b1;
}

.card{
    font-family: "ofont.ru_Riffic";
}

@font-face {
    font-family: "ofont.ru_Riffic"; 
    src: url("../ofont.ru_Riffic.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 